<div data-role="main" class="ui-content">
  <h1 style="text-align: center;color:#FE0101">Categories</h1>

      <% @tbl_categories.each do |tbl_category| %>
      <ul data-role="listview">
        <li>

            <%=

             link_to tbl_category.CategoryName, '/view_products/'+tbl_category.CategoryID.to_s

            %>

        </li>
      </ul>
      <br/>
      <br/>

      <% end %>



</div>