<div data-role="main" class="ui-content">
  <h1 style="text-align: center;">Categories</h1>
  <ul data-role="listview">
    <li><a href="#Chiniot-Faisalabad" data-transition="flip">Chiniot-Faisalabad</a></li>
  </ul>

</div>